sqlmodel
mutagen~=1.47.0
tidalapi~=0.8.5
cachebox~=5.0.1
spotipy~=2.25.1
spotipy-anon~=1.5.3
pyacoustid~=1.3.0
musicbrainzngs~=0.7.1
streamlit~=1.48.1
Unidecode~=1.4.0
rapidfuzz~=3.13.0
standard-aifc
standard-sunau
requests
fastapi